@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-[#FAFAFA] text-[#212121];
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d32f2f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b71c1c;
}
